<li onClick="window.location.href='{f:uri.action(action: 'show', controller: 'Course', pageUid: '15', arguments: '{course: course}')}'">
    <span class="month"><f:format.date format="M">{course.scheduleid.nextEvent}</f:format.date></span>
    <span class="day"><i class="number"><f:format.date format="j">{course.scheduleid.nextEvent}</f:format.date></i></span>
    <span class="content">
	<h3>{course.title}</h3>
	<small>BWL, WIF 2, Tutorial(todo)</small>
	<f:if condition="{course.canEdit}">
	    <f:link.action class="editAction" action="edit" controller="Course" pageUid="15" arguments="{course: '{course}'}" title="Edit"><i class="icon-edit"></i></f:link.action>
	</f:if>
    </span>
</li>