<fieldset>
	<legend>Schedule</legend>
	<div class="control-group">
		<label class="control-label" for="start">
			<f:translate key="tx_lecoop_domain_model_schedule.start" />*
		</label>
		<div class="controls">
			<f:form.textfield class="datepicker" property="scheduleid.start"  value="{course.scheduleid.start->f:format.date(format: 'm/d/y H:i')}" />
			<p>The date this course will be .</p>
		</div>
		<label class="control-label" for="end">
			<f:translate key="tx_lecoop_domain_model_schedule.end" />*
		</label>
		<div class="controls">
			<f:form.textfield class="datepicker" property="scheduleid.end"  value="{course.scheduleid.end->f:format.date(format: 'm/d/y H:i')}" />
			<p>Please enter the date/time of the last event.</p>
		</div>
	</div>
	<legend>Events</legend>
	
	Add bladhflasjdfasf
</fieldset>