{namespace vh = Tx_Lecoop_ViewHelpers}
<f:layout name="DefaultNoFrame" />
<f:section name="main">
    <table class="table table-bordered table-condensed table-striped table-hover">
	<thead>
	<th>Title</th>
	<th>Type</th>
	<th>Tags</th>
	<th>Next Event</th>
	<th>Rating</th>
	<th>Subscribers</th>
	<th>Actions</th>
	</thead>
	<tbody>
	<f:for each="{courses}" as="course">
	    <tr>
		<td>
	    <f:if condition="{course.isFeatured}"><i class="icon-star" title="Featured course"></i></f:if>
		    {course.title}</td>
	<td>
	<f:if condition="{course.type}">
	    <f:then><span class="label label-info">Course</span></f:then>
	    <f:else><span class="label label-info">Learning Group</span></f:else>
	</f:if>
	</td>
		<td>
	    <f:for each="{course.tags}" as="tag">
		{tag.name} 
	    </f:for>
	    </td>
	    <td><f:format.date format="m/d/Y">{course.scheduleid.nextEvent}</f:format.date></td>
	    <td><vh:rating rating="{course.avgRating}" /></td>
	    <td>{f:count(subject: '{course.subscriptions}')}</td>
	    <td>
		<span class="pull-right">
	    <f:if condition="{vh:course.canEdit(course: '{course}', user: '{fe_user}')}">
		<f:link.action class="" action="edit" arguments="{course: '{course}'}" title="Edit"><i class="icon-cog"></i></f:link.action>
	    </f:if>
	    <f:link.action class="" action="show" arguments="{course: '{course}'}" title="View"><i class="icon-search"></i></f:link.action>
		</span>
	    </td>
	    </tr>
	</f:for>
	</tbody>
    </table>
</f:section>