<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h2>Create New Course</h2>
<br/>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Course}"/>

	<div class="tabbable tabs-left">
		<f:form class="form-horizontal" action="create" name="newCourse" object="{newCourse}">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab1" data-toggle="tab">General</a></li>
			<li><a href="#tab2" data-toggle="tab">Schedule</a></li>
			<li><a href="#tab3" data-toggle="tab">Exceptions</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
				<f:render partial="Course/FormFields" arguments="{tutorGrp: '{tutorGrp}'}"/>
			</div>
			<div class="tab-pane" id="tab2">
				<f:render partial="Course/ScheduleFields" arguments="{course: '{newCourse}'}" />
			</div>
			<div class="tab-pane" id="tab3">
				Exceptions thingy
			</div>
		</div>
	</div>
	
	<div class="form-actions">
		<f:form.submit class="btn btn-primary" value="Create Course" />
	</div>
</f:form>
</f:section>